# 1) 'mydb' 데이터베이스 및 'emp' 컬렉션 생성

**DATABASE 생성**

In [ ]:
C:\windows\system32>mongo
The server generated these startup warnings when booting:
        2022-08-10T19:37:57.414+09:00: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
---
MongoDB Enterprise > show dbs
admin   0.000GB
config  0.000GB
local   0.000GB

MongoDB Enterprise > use mydb
switched to db mydb

MongoDB Enterprise > show dbs
admin   0.000GB
config  0.000GB
local   0.000GB

**Collection 생성**

In [ ]:
MongoDB Enterprise > db.createCollection('emp')
{ "ok" : 1 }

MongoDB Enterprise > show dbs
admin   0.000GB
config  0.000GB
local   0.000GB
mydb    0.000GB

MongoDB Enterprise > show collections
emp

MongoDB Enterprise > db.emp.find()

# 2) 'emp' 컬렉션 Document INSERT

In [ ]:
MongoDB Enterprise > show collections
emp

MongoDB Enterprise > db.emp.find()

MongoDB Enterprise > db.emp.insert({name:'KING', birthday:1981-05-01, hp:"010-1234-5678", status:"1"});
WriteResult({ "nInserted" : 1 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }

MongoDB Enterprise > db.emp.insertMany(
... [
... {name:"MARTIN", birthday:1971-04-11, hp:"010-4312-7856", status:"2"},
... {name:"ALLEN", birthday:1983-06-21, hp:"010-5678-1234", status:"1"},
... ]
... );
{
        "acknowledged" : true,
        "insertedIds" : [
                ObjectId("62f4524ffba69c083820ce46"),
                ObjectId("62f4524ffba69c083820ce47")
        ]
}

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "2" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }

MongoDB Enterprise > db.emp.insert({name:"SCOTT", hp:"010-1212-3434", dept:"개발팀", status:"1"});
WriteResult({ "nInserted" : 1 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "2" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.find({status:"1"})
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.find({status:"1"}, {name:1, hp:1})
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434" }

MongoDB Enterprise > db.emp.find({status:"1"}, {name:1, hp:1}).sort({name:1})
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234" }
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434" }

# 3) 'emp' 컬렉션 Document UPDATE (데이터)

In [ ]:
MongoDB Enterprise > use mydb
switched to db mydb

MongoDB Enterprise > show collections
emp

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "2" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.update({status:'2'}, {$set: {status:"임시직"}} )
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.update( {status:"1"}, {$set: {status:"정규직"}} )
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "정규직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.updateMany( {status:'1'}, {$set: {status:"정규직"}} )
{ "acknowledged" : true, "matchedCount" : 2, "modifiedCount" : 2 }

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "정규직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "정규직" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직" }

# 4) 'emp' 컬렉션 Document UPDATE (필드)

In [ ]:
MongoDB Enterprise > db.emp.updateMany( {status:"정규직"}, {$set: {status:"1"}}, {multi:true} )
{ "acknowledged" : true, "matchedCount" : 3, "modifiedCount" : 3 }

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "1" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "1" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "1" }

MongoDB Enterprise > db.emp.update( {status:"1"}, {$set: {status:"정규직"}}, {multi:true} )
WriteResult({ "nMatched" : 3, "nUpserted" : 0, "nModified" : 3 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "birthday" : 1975, "hp" : "010-1234-5678", "status" : "정규직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "birthday" : 1956, "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "birthday" : 1956, "hp" : "010-5678-1234", "status" : "정규직" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직" }

MongoDB Enterprise > db.emp.update( {}, {$unset: {birthday:1}}, {multi:true} )
WriteResult({ "nMatched" : 4, "nUpserted" : 0, "nModified" : 3 })

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678", "status" : "정규직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직" }

MongoDB Enterprise > db.emp.updateMany( {}, {$set: {retire_yn:"N"}} )
{ "acknowledged" : true, "matchedCount" : 4, "modifiedCount" : 4 }

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직", "retire_yn" : "N" }

# 5) 'emp' 컬렉션 Document DELETE

In [ ]:
MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직", "retire_yn" : "N" }

MongoDB Enterprise > db.emp.find( {hp : /1234-5678/ } )
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678", "status" : "정규직", "retire_yn" : "N" }

MongoDB Enterprise > db.emp.find( {hp : { $regex: /1234-5678/ } } )
{ "_id" : ObjectId("62f451aafba69c083820ce45"), "name" : "KING", "hp" : "010-1234-5678", "status" : "정규직", "retire_yn" : "N" }

MongoDB Enterprise > db.emp.deleteMany( { hp : {$regex: /1234-5678/ } } )
{ "acknowledged" : true, "deletedCount" : 1 }

MongoDB Enterprise > db.emp.find()
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직", "retire_yn" : "N" }

# 6. 'emp' 컬렉션 'emp_python' 복제

In [ ]:
MongoDB Enterprise > show dbs
admin   0.000GB
config  0.000GB
local   0.000GB
mydb    0.000GB

MongoDB Enterprise > show collections

MongoDB Enterprise > use mydb
switched to db mydb

MongoDB Enterprise > show collections
emp

MongoDB Enterprise > db.emp.aggregate([{$out: "emp_python"}])

MongoDB Enterprise > show collections
emp
emp_python

MongoDB Enterprise > db.emp_python.count()
3

MongoDB Enterprise > db.emp_python.find()
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직", "retire_yn" : "N" }

MongoDB Enterprise > db.emp_python.insert({name:"PYTHON", hp:"010-1111-2222", status:"임시직", retire_yn:"Y"})
WriteResult({ "nInserted" : 1 })

MongoDB Enterprise > db.emp_python.find()
{ "_id" : ObjectId("62f4524ffba69c083820ce46"), "name" : "MARTIN", "hp" : "010-4312-7856", "status" : "임시직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4524ffba69c083820ce47"), "name" : "ALLEN", "hp" : "010-5678-1234", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f452b0fba69c083820ce48"), "name" : "SCOTT", "hp" : "010-1212-3434", "dept" : "개발팀", "status" : "정규직", "retire_yn" : "N" }
{ "_id" : ObjectId("62f4594987b9d9ca8666f7b7"), "name" : "PYTHON", "hp" : "010-1111-2222", "status" : "임시직", "retire_yn" : "Y" }

**(참고) Export/Import 명령문**

In [ ]:
mongoexport -d mydb -c emp --type=csv -o emp.csv --port 27017

In [ ]:
mongoimport -d mydb -c emp_python --type=csv -o emp.csv --port 27017

# 1. 파이썬 DB 접속

**1. pymongo 라이브러리 import**

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp39-cp39-win_amd64.whl (374 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

* DB 정보 설정
    * 로컬에서 서버가 돌아갈 경우
        * mongo
        * 예) pymongo.MongoClient()
    * 원격 서버에 접속할 경우
        * mongo --host 'host_address' --port 'port'
        * 예) mongo --host 192.10.21.3 --port 27017

**2. mongodb 접속(주소)**

In [11]:
import pymongo
conn = pymongo.MongoClient('mongodb://localhost:27017')

# 2. 데이터 조회

**3. database, collection 관리**

In [12]:
# mydb Database 생성/사용 및 객체 선언
mydb = conn.mydb
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydb')

In [13]:
# Collection 생성 및 객체 선언
emp_python = mydb.emp_python
emp_python

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydb'), 'emp_python')

**4. 데이터 조회**

- mongodb에 저장한 데이터들을 불러올 수 있다

In [14]:
# emp_python 컬렉션 데이터 조회 (4건)
for i in emp_python.find():
    print(i)

{'_id': ObjectId('62f4524ffba69c083820ce46'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4524ffba69c083820ce47'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f452b0fba69c083820ce48'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4594987b9d9ca8666f7b7'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}

# 3. 데이터 변경 - INSERT

**5. 데이터 입력(Insert)**
* InsertOne : 한개의 document 생성
* InsertMany : list of document 생성

In [15]:
# 한개 이상의 데이터 입력

emp_python.insert_many(
[
    { 'name':'박나래', 'age':34, 'dept':'아티스트팀' },
    { 'name':'전현무', 'age':43, 'dept':'아티스트팀' },
    { 'name':'화사', 'age':29, 'dept':'아티스트팀' },
    
]
)

for i in emp_python.find():
    print(i)

{'_id': ObjectId('62f4524ffba69c083820ce46'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4524ffba69c083820ce47'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f452b0fba69c083820ce48'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4594987b9d9ca8666f7b7'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'name': '박나래', 'age': 34, 'dept': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c0'), 'name': '전현무', 'age': 43, 'dept': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c1'), 'name': '화사', 'age': 29, 'dept': '아티스트팀'}

# 데이터 변경 - UPDATE

**6. 데이터 변경(Update/Modify)**
* update_one : 매칭되는 한개의 document 업데이트
* update_many : 매칭되는 list of document 업데이트

In [20]:
# 나이가 30살 이상만 불러오기
for i in emp_python.find( {"age": {"$gt" : 30} }):
    print(i)

{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'name': '박나래', 'age': 34, 'dept': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c0'), 'name': '전현무', 'age': 46, 'dept': '아티스트팀'}

In [21]:
# 나이가 30살 이상만 불러와서 나이에 5 추가(더해주기)
emp_python.update_many({"age": {"$gt":30}}, {"$inc": {"age":5}})

In [22]:
for i in emp_python.find( {"age" : {"$gt" : 30}}):
    print(i)

{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'name': '박나래', 'age': 39, 'dept': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c0'), 'name': '전현무', 'age': 51, 'dept': '아티스트팀'}

# 데이터 변경 - DELETE

**6. 데이터 삭제(Delete)**
* remove_one : 매칭되는 한개의 document 삭제
* remove_many : 매칭되는 list of document 삭제

In [23]:
emp_python.delete_many({"name":"전현무"})

In [24]:
result = emp_python.find()

In [25]:
for r in result:
    print(r)

{'_id': ObjectId('62f4524ffba69c083820ce46'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4524ffba69c083820ce47'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f452b0fba69c083820ce48'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f4594987b9d9ca8666f7b7'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'name': '박나래', 'age': 39, 'dept': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c1'), 'name': '화사', 'age': 29, 'dept': '아티스트팀'}

In [26]:
result = emp_python.find({}, {"_id" : 0}).limit(4)
for r in result:
    print(r)

{'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}

# 4. 컬렉션 변경 - RENAME

**8. 컬럼명 변경**

In [27]:
emp_python.update_many( {}, {"$rename":{"dept":"unit"}})

In [29]:
result = emp_python.find({}, {"unit":1})
for r in result:
    print(r)

{'_id': ObjectId('62f4524ffba69c083820ce46')}
{'_id': ObjectId('62f4524ffba69c083820ce47')}
{'_id': ObjectId('62f452b0fba69c083820ce48'), 'unit': '개발팀'}
{'_id': ObjectId('62f4594987b9d9ca8666f7b7')}
{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'unit': '아티스트팀'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7c1'), 'unit': '아티스트팀'}

# 5. INDEX 관리

**8. Index 관리**

In [30]:
emp_python.create_index([('name', pymongo.TEXT), ('hp', pymongo.ASCENDING)])

'name_text_hp_1'

In [31]:
# 관련된 index 정보들을 보여줌
emp_python.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'name_text_hp_1': {'v': 2,
  'key': [('_fts', 'text'), ('_ftsx', 1), ('hp', 1)],
  'weights': SON([('name', 1)]),
  'default_language': 'english',
  'language_override': 'language',
  'textIndexVersion': 3}}

In [32]:
# 띄어쓰기가 있는 경우
result = emp_python.find({'$text':{'$search' : '박나래 ALLEN'}})
for record in result:
    print(record)

{'_id': ObjectId('62f4524ffba69c083820ce47'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62f45d6a096e7c99c03ce7bf'), 'name': '박나래', 'age': 39, 'unit': '아티스트팀'}